#!/usr/bin/make -f

# this will avoid unneded dependencies
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# enable all hardening options
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with=autoreconf

override_dh_autoreconf:
	misc/dist-test-cases > makefiles/test-cases.mak
	dh_autoreconf

override_dh_auto_configure:
	# We need to pass ASPELL_CFLAGS and ASPELL_LIBS here
	# because the libaspell-dev package does not include pkg-config file.
	ASPELL_CFLAGS=-I/usr/include ASPELL_LIBS=-laspell \
	dh_auto_configure -- \
		--program-transform-name='s/ctags/ctags-universal/'

override_dh_install:
	mv man/ctags.1 man/ctags-universal.1
	dh_auto_install
